body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
}

#video {
    display: block;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: red;
    display: none;
}
